<h2>ABOUT</h2>

<h3>This WebGIS system is developed by <strong>@NuodaY</strong> through <em>leaflet.js</em> API<br></h3>

<p>Programming Language: javascript</p>
<p>Frontend Runtime: Node.JS</p>
<p>Web Framework: Express.JS</p>
<p>Frontend Template Engine: Handlebars</p>
<p>Typhoon Data Acquired From: </p>
<a href=https://m.tianqi.com/taifeng/taifenglujing.html></a>
<a href="http://tf.121.com.cn/index.html"></a>

<h3>Instructions:</h3>