<h2>ABOUT</h2>

<h3>This WebGIS system is developed by <strong>@NuodaY</strong> through <em>leaflet.js</em> API<br></h3>

<p>Programming Language: javascript</p>
<p>Frontend Runtime: Node.JS</p>
<p>Web Framework: Express.JS</p>
<p>Frontend Template Engine: Handlebars</p>
<p><strong>Typhoon Data Acquired From:</strong> </p>
<p>https://m.tianqi.com/taifeng/taifenglujing.html></p>
<p>"http://tf.121.com.cn/index.html"<br></p>

<h3>Instructions:</h3>
<p>1. You can find all the 2021 typhoon paths on the homepage map.</p>
<p>2. You can measure the distance between any two points on the homepage map.</p>
<p>3. Under 'Fast Locate', you are able to locate a city quickly. Large cities near typhoon-prone areas are listed here.</p>
<p>4. You may look up the details of a typhoon by its numeric ID or name in English.</p>