<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Measure Distance between 2 points</title>
</head>
<body>
    <form action="/showResults" method="post">
        <label>第一个点：</label>
        <input type="text" name="pta">
        <label>第二个点：</label>
        <input type="text" name="ptb">
        <input type="submit" value="计算距离">
    </form>
</body>
</html>