<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Measure Distance between 2 points</title>
    <h2 style="text-align: center">Measure Distance between 2 points</h2>
    <link href="style.css" rel="stylesheet">
</head>
<body>

    <div class="results">
    
        <form action="/showResults" method="post">
    
            <label><strong>E</strong> for point A：</label>
            <input type="text" name="ptax" size="10"><br>
            <label><strong>N</strong> for point A：</label>
            <input type="text" name="ptay" size="10"><br>
            <br>
    
            <label><strong>E</strong> for point B：</label>
            <input type="text" name="ptbx" size="10"><br>
            <label><strong>N</strong> for point B：</label>
            <input type="text" name="ptby" size="10"><br>
            <br>
    
            <input type="submit" value="Calculate distance!">
    
        </form>
    
    </div>

</body>
</html>