ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

li p{
    display: block;
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
}

input{
    width: 50%;
}

li a:hover {
    background-color: #111;
}

.right{
    display: block;
    text-align: center;
    float: right;
}

.side-bar-element{
    display: block;
    text-align: center;
    background-color: rgb(126, 117, 117);
}

.double-forms{
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.results{
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.details-table{
    border-spacing: 20px;
    border: 1px solid black;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.details{
    text-align: center;
}
